.container-main {
    margin: 0 auto;
    width: 80%;
}
.container-bg {
    transition: background-color 3s ease;
    background-color: $prime;
}
.container-bg.blue,
.header.blue,
.main.blue {
    background-color: $blue;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 3s ease;
    background-color: $prime;
    height: 10vh;
    .header__logo {
        width: 40px;
    }
    .header__settings {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $white-font;
        font-family: $hand-font;
        font-size: 1em;
        .fa-cog {
            transition: 0.5s ease;
            margin-right: 3px;
            font-size: 0.9em;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    transition: background-color 3s ease;
    background-color: $prime;
    min-height: 90vh;
    font-size: 1em;
    //   margin-top: -1px;
    .main__display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 55vh;
        .display__tabs {
            .tabs__tab {
                margin: 0 10px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: $white-font;
                font-family: $hand-font;
                font-size: 1em;
            }
            .display__tabs--line {
                position: absolute;
                transition: 0.4s ease;
                background-color: $white-font;
                height: 1px;
            }
        }
        .display__timer {
            transition: color 3s ease, text-shadow 3s ease;
            text-shadow: 2px 4px 0px $prime-dark;
            color: $white-font;
            font-family: $hand-font;
            font-size: 7em;
        }
        .display__timer.blue {
            text-shadow: 2px 4px 0px $dark-blue;
        }
        .display__start-stop {
            display: flex;
            align-items: center;
            border: none;
            border-radius: 25px;
            background-color: $white-font;
            cursor: pointer;
            padding: 8px 40px;
            color: $prime;
            font-family: $hand-font;
            font-size: 1.6em;
            font-weight: normal;
        }
        @keyframes red-blue {
            0% {
                box-shadow: 2px 4px 0px $prime-dark;
                color: $prime;
            }
            100% {
                box-shadow: 2px 4px 0px $dark-blue;
                color: $blue;
            }
        }
        @keyframes blue-red {
            0% {
                box-shadow: 2px 4px 0px $dark-blue;
                color: $blue;
            }
            100% {
                box-shadow: 2px 4px 0px $prime-dark;
                color: $prime;
            }
        }
        .display__start-stop.display__start-stop--active {
            box-shadow: 2px 4px 0px $prime-dark;
        }
        .display__start-stop.display__start-stop--active.blue {
            box-shadow: 2px 4px 0px $dark-blue;
        }
        .display__start-stop.blue {
            box-shadow: none;
            color: $blue;
        }
    }
    .main__tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        .tasks__title {
            color: #fff;
            font-family: $hand-font;
            font-weight: normal;
        }
        .fa-plus-circle {
            margin-right: 5px;
        }
        .tasks__add {
            align-self: stretch;
            margin-top: 30px;
            margin-bottom: 30px;
            border: 5px dotted $white-font;
            border-radius: 25px;
            background-color: transparent;
            cursor: pointer;
            padding: 5px 10px;
            height: 60px;
            color: $white-font;
            font-family: $hand-font;
            font-size: 1.2em;
        }
        .tasks__list {
            width: 100%;
            .tasks__item {
                display: flex;
                align-items: center;
                align-self: stretch;
                justify-content: space-between;
                margin-bottom: 20px;
                border-radius: 25px;
                background-color: $white-font;
                padding: 10px 15px;
                color: $dark-red;
                font-family: $hand-font;
                transition: 0.2s ease;

                //   display: flex;
                .fa-check-square {
                    margin-right: 5px;
                }
                .fa-check {
                    margin-right: 5px;
                }
                .fa-square {
                    margin-right: 5px;
                }
                .tasks__name {
                    margin-right: 5px;
                }
                .tasks__pomodoros-number {
                    margin-right: 10px;
                    color: $light-red;
                }
                .tasks-container-1,
                .tasks-container-2 {
                    display: flex;
                    align-items: center;
                }
            }
            .tasks__item.dragging {
                opacity: 0.5;
                transform: scale(103%);
            }
        }
        .tasks__form {
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
            border-radius: 25px;
            background-color: $white-font;
            padding: 15px 15px;
            width: 100%;
            //   display: flex;
            .form__taskName {
                border: 2px solid $prime;
                border-radius: 25px;
                padding: 3% 0 3% 4px;
                width: 100%;
                line-height: 0.8em;
                font-family: $hand-font;
                font-size: 0.8em;
                //  padding-left: 3px;
            }
            .form__taskName::placeholder {
                font-family: $hand-font;
            }
            .form__taskName:focus {
                outline: none;
            }
            .form__container {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;
                width: 100%;
                .form__est-pomodoros {
                    border: 2px solid $prime;
                    border-radius: 25px;
                    padding: 0 10px 0 3px;
                    width: 60px;
                    line-height: 160%;
                    font-family: $hand-font;
                    font-size: 0.8em;
                }
                .form__est-pomodoros::-webkit-inner-spin-button,
                .form__est-pomodoros::-webkit-outer-spin-button {
                    margin: 0;
                    -webkit-appearance: none;
                }
                .form__est-pomodoros::placeholder {
                    font-family: $hand-font;
                }
                .form__est-pomodoros:focus {
                    outline: none;
                }
                .form__action {
                    .form__cancel {
                        border: none;
                        background-color: transparent;
                        color: $dark-red;
                        font-family: $hand-font;
                        font-size: 0.7em;
                    }
                    .form__save {
                        border: none;
                        border-radius: 25px;
                        background-color: $prime;
                        padding: 5% 7px;
                        color: $white-font;
                        font-family: $hand-font;
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}
.draggable {
    cursor: grab;
}
.draging {
    opacity: 0.5;
    background-color: red;
}
.settings {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translate(-50%, -50%);
    transition: 0.2s ease;
    border-radius: 25px;
    box-shadow: 2px 2px 5px $dark-red;
    background-color: $white-font;
    padding: 5%;
    padding-top: 8%;
    width: 90%;
    height: 40%;
    // opacity: 0;
    .fa-times {
        position: absolute;
        top: 10px;
        right: 5%;
        cursor: pointer;
        color: $prime;
        font-size: 1.2em;
    }
    .settings__auto-start {
        display: flex;
        justify-content: space-between;
        color: $dark-red;
        font-family: $hand-font;
    }
    .settings__dark-mode {
        display: flex;
        justify-content: space-between;
        color: $dark-red;
        font-family: $hand-font;
    }
    .settings__sound {
        display: flex;
        justify-content: space-between;
        border-radius: 25px;
        color: $dark-red;
        font-family: $hand-font;
        .select-container {
            position: relative;
            .sound__select {
                transition: 0.08s linear;
                outline: none;
                border: none;
                border-radius: 25px;
                background-color: $prime;
                cursor: pointer;
                padding: 3px 30px 3px 5px;
                color: $white-font;
                font-family: $hand-font;
                appearance: none;
            }
            .sound__select.sound__select--active {
                border-radius: 12.5px 12.5px 0 0;
            }
            .sound__menu:focus {
                outline: none;
            }
            .fa-angle-down {
                position: absolute;
                top: 1px;
                right: 7px;
                transition: 0.4s ease;
                cursor: pointer;
                padding: 3px;
                color: $white-font;
            }
            .sound__menu {
                display: none;
                position: absolute;
                border-radius: 0 0 12.5px 12.5px;
                background-color: $prime;
                width: 100%;
                color: $white-font;
                font-size: 0.8em;
                .menu-item {
                    border-bottom: 1px solid $white-font;
                    cursor: pointer;
                    padding: 2% 0 2% 15px;
                    width: 100%;
                }
                :last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .settings__sound-volume {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $hand-font;
        .sound-volume__range {
            border-radius: 25px;
            background-color: $prime;
            cursor: pointer;
            width: 40%;
            height: 40%;
            appearance: none;
        }
        .sound-volume__range::-webkit-slider-thumb {
            border-radius: 25px;
            background-color: $dark-red;
            width: 12px;
            height: 12px;
            appearance: none;
        }
    }
    .slider {
        display: flex;
        position: relative;
        align-items: center;
        align-self: stretch;
        border-radius: 25px;
        background-color: $light-red;
        cursor: pointer;
        width: 40px;
        .slider__circle {
            display: block;
            position: absolute;
            left: 0px;
            transition: 0.2s linear;
            margin-right: 3px;
            margin-left: 3px;
            border-radius: 25px;
            background-color: $prime;
            width: 15px;
            height: 15px;
            content: '';
        }
    }
    .slider.slider--active {
        background-color: $prime;
        .slider__circle {
            transform: translateX(19px);
            background-color: $light-red;
        }
    }
}
@media (orientation: landscape) {
    .settings {
        width: 50%;
        height: 60%;
    }
}
@media (orientation: portrait) and (min-width: 375px) {
    .page {
        font-size: 20px;
    }
    .header {
        .header__logo {
            width: 55px;
        }
    }
}
@media (orientation: portrait) and (min-width: 700px) {
    .container-main {
        width: 70%;
    }
    .settings {
        width: 60%;
        height: 30%;
    }
    .main {
        .main__display {
            .display__tabs {
                .display__tabs--line {
                    height: 2px;
                }
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 1024px) {
    .container-main {
        width: 40%;
    }
    .page {
        font-size: 22px;
    }
    .settings {
        width: 50%;
        height: 40%;
    }
    .main {
        .main__display {
            .display__tabs {
                .display__tabs--line {
                    height: 2px;
                }
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 1300px) {
    .container-main {
        width: 40%;
    }
    .page {
        font-size: 22px;
    }
    .settings {
        width: 40%;
        height: 40%;
    }
}
@media (orientation: portrait) and (min-width: 1024px) {
    .container-main {
        width: 60%;
    }
    .page {
        font-size: 25px;
    }
    .header {
        .header__logo {
            width: 65px;
        }
    }
}
@media (orientation: landscape) and (min-width: 1400px) {
    .container-main {
        width: 30%;
        font-size: 25px;
    }
    .header {
        .header__settings:hover {
            .fa-cog {
                transform: rotate(60deg);
            }
        }
        .header__logo {
            width: 60px;
        }
    }
    .settings {
        padding: 4%;
        padding-top: 5%;
        width: 32%;
        height: 40%;
    }
}

//  **** DARK MODE ****

.page.dark-mode {
    $prime: #252020;
    $dark-red: #251f1f;
    $light-red: #f8c4bc;
    $prime-dark: #f8c4bc;
    $white-font: #f55240;

    $blue: #001529;
    $dark-blue: #4f96d8;
    .container-bg {
        background-color: $prime;
    }
    .container-bg.blue,
    .header.blue,
    .main.blue {
        background-color: $blue;
    }
    .header {
        background-color: $prime;

        .header__settings {
            color: $white-font;
        }
    }

    .main {
        background-color: $prime;

        .main__display {
            .display__tabs {
                .tabs__tab {
                    color: $white-font;
                }
                .display__tabs--line {
                    background-color: $white-font;
                }
            }
            .display__timer {
                text-shadow: 2px 4px 0px $prime-dark;
                color: $white-font;
                font-family: $hand-font;
            }
            .display__timer.blue {
                text-shadow: 2px 4px 0px $dark-blue;
            }
            .display__start-stop {
                background-color: $white-font;

                color: $prime;
                font-family: $hand-font;
            }

            .display__start-stop.display__start-stop--active {
                box-shadow: 2px 4px 0px $prime-dark;
            }
            .display__start-stop.display__start-stop--active.blue {
                box-shadow: 2px 4px 0px $dark-blue;
            }
            .display__start-stop.blue {
                box-shadow: none;
                color: $blue;
            }
        }
        .main__tasks {
            .tasks__title {
                color: $white-font;
            }
            .fa-plus-circle {
                margin-right: 5px;
            }
            .tasks__add {
                border: 5px dotted $white-font;

                color: $white-font;
                font-family: $hand-font;
            }
            .tasks__list {
                .tasks__item {
                    background-color: $white-font;

                    color: $dark-red;
                    font-family: $hand-font;
                    //   display: flex;

                    .tasks__pomodoros-number {
                        color: $light-red;
                    }
                }
            }
            .tasks__form {
                background-color: $white-font;

                .form__taskName {
                    color: $prime-dark;
                    border: 2px solid $prime;
                    background-color: $prime;
                    font-family: $hand-font;
                }
                .form__taskName::placeholder {
                    font-family: $hand-font;
                }

                .form__container {
                    .form__est-pomodoros {
                        color: $prime-dark;
                        background-color: $prime;
                        border: 2px solid $prime;

                        font-family: $hand-font;
                    }

                    .form__est-pomodoros::placeholder {
                        font-family: $hand-font;
                    }

                    .form__action {
                        .form__cancel {
                            color: $dark-red;
                            font-family: $hand-font;
                        }
                        .form__save {
                            background-color: $prime;

                            color: $prime-dark;
                            font-family: $hand-font;
                        }
                    }
                }
            }
        }
    }
    .settings {
        box-shadow: 2px 2px 5px $dark-red;
        background-color: $white-font;

        .fa-times {
            color: $prime;
        }
        .settings__auto-start {
            color: $dark-red;
            font-family: $hand-font;
        }
        .settings__dark-mode {
            color: $dark-red;
            font-family: $hand-font;
        }
        .settings__sound {
            color: $dark-red;
            font-family: $hand-font;
            .select-container {
                .sound__select {
                    background-color: $prime;

                    color: $white-font;
                    font-family: $hand-font;
                }

                .fa-angle-down {
                    color: $white-font;
                }
                .sound__menu {
                    background-color: $prime;

                    color: $white-font;

                    .menu-item {
                        border-bottom: 1px solid $white-font;
                    }
                }
            }
        }
        .settings__sound-volume {
            font-family: $hand-font;
            .sound-volume__range {
                background-color: $prime;
            }
            .sound-volume__range::-webkit-slider-thumb {
                background-color: $prime-dark;
            }
        }
        .slider {
            background-color: $light-red;

            .slider__circle {
                background-color: $prime;
            }
        }
        .slider.slider--active {
            background-color: $prime;
            .slider__circle {
                background-color: $light-red;
            }
        }
    }
}
